.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 207, 207, 0.411);

  .Home {
    .time {
      font-size: 100px;
    }

    margin-bottom: 40px;
  }

  .Hall {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  }
}
